$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$backdrop-color: rgba(0, 0, 0, 0.2);

$bg-color: #CCCCCC;
$black-color: #202025;
$grapefruit-color: #FD5103;
$gray-color: #5F6775;
$white-color: #FCFCFC;
$auxiliary-orange-color: #FE7031;