<ul class="coctail-list container">
    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>
    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>

    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>
    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>
    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>
    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>
    <li class="coctail-list__coctail-item">
        <img class="coctail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="coctail-item__name">Negroni</p>
        <div class="button-wrap">
            <button class="coctail-item__learn-more">Learn more </button>
            <button class="coctail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
            <button class="coctail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li>
</ul>
<div class="pages"></div>
<div class="footer"></div>