<ul class="cocktail-list container">
    
    <!-- <li class="cocktail-list__cocktail-item">
        <img class="cocktail-item_img" src="./images/image.jpg" alt="" width="395" height="auto">
        <p class="cocktail-item__name">Negroni</p>
        <div class="button-wrap">
            <button type="button" class="cocktail-item__learn-more">Learn more</button>
            <button type="button" class="cocktail-item__add-to" style="display: none;">Add to 
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-empty"></use>
                </svg>
            </button>
            <button type="button" class="cocktail-item__remove">Remove
                <svg class="svg" width="21" height="19">
                    <use href="./images/icons.svg#icon-heart-filled"></use>
                </svg>
            </button>
        </div>
    </li> -->

</ul>
<div class="not-found"></div>
<div class="pages"></div>
<div class="footer"></div>