button{
  cursor: pointer;
}

.cocktail-list {
    @include mobile{
        gap: 20px;
    }
    @include tablet{
        gap: 32px;
    }
    @include desktop{
        gap: 31px;
    }
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.cocktail-list__cocktail-item {
  @include mobile {
    width: 280px;
    height: 449px;
  }
  @include tablet {
    width: 335px;
    height: 541px;
  }
  @include desktop {
    width: 395px;
    height: 556px;
  }
  border: 1px solid rgba(253, 81, 3, 1);
  border-radius: 4px;
}

.svg {
  fill: $white-color;
}

.cocktail-item__add-to {
  @include mobile {
    width: 110px;
    height: 39px;
    font-size: 14px;
  }
  @include tablet {
    width: 123px;
    height: 48px;
    font-size: 20px;
  }
  @include desktop {
    width: 141px;
    height: 48px;
    font-size: 20px;
  }
  position: relative;
  background-color: transparent;
  border-color: rgba(253, 81, 3, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: rgba(253, 81, 3, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  &:hover{
    background-color: rgba(245, 245, 245, 1);
  }
  &:hover .svg{
    fill: rgba(245, 245, 245, 1);
  }
  &:active{
    background-color: transparent;
  }
  &:active .svg{
    fill: transparent;
  }
}

.cocktail-item__remove {
  @include mobile {
    width: 110px;
    height: 39px;
    font-size: 14px;
  }
  @include tablet {
    width: 123px;
    height: 48px;
    font-size: 20px;
  }
  @include desktop {
    width: 141px;
    height: 48px;
    font-size: 20px;
  }
  position: relative;
  background-color: white;
  border-color: rgba(253, 81, 3, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: rgba(253, 81, 3, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  &:hover{
    background-color: rgba(245, 245, 245, 1);
  }
  &:active{
    background-color: transparent;
  }
}

.cocktail-item__learn-more {
  @include mobile {
    width: 108px;
    height: 39px;
    font-size: 14px;
  }
  @include tablet {
    width: 160px;
    height: 48px;
    font-size: 20px;
  }
  position: relative;
  width: 182px;
  height: 48px;
  background-color: rgba(253, 81, 3, 1);
  border-color: rgba(253, 81, 3, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  &:hover{
    background-color: rgba(245, 245, 245, 1);
    color: rgba(253, 81, 3, 1);
  }
  &:active{
    background-color: rgba(253, 81, 3, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.cocktail-item__name {
  @include mobile {
    margin: 48px auto 16px;
    font-size: 26px;
  }
  @include tablet {
    margin: 20px auto 27px;
    font-size: 28px;
  }
  @include desktop {
    margin: 20px auto 27px;
    font-size: 32px;
  }
  width: fit-content;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.footer {
  @include mobile {
    width: 100vw;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1280px;
  }
  height: 110px;
  background-color: $grapefruit-color;
  margin: 60px auto 0;
}
