.hero__title {
  width: 300px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: calc(42 / 22);
  color: $grapefruit-color;
  margin-bottom: 30px;
  @include tablet {
    margin-top: 140px;
    width: 336px;
    height: 84px;
    font-size: 26px;
    line-height: calc(42 / 26);
  }
  @include desktop {
    width: 688px;
    height: 160px;
    font-size: 52px;
    line-height: calc(80 / 52);
  }
}

.hero__picture {
  height: 367px;
  background-image: url(../images/mobile-coctails@1x-min.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 30px;
  @include retina {
    background-image: url(../images/mobile-coctails@2x-min.png);
  }

  @include tablet {
    position: absolute;
    right: 0;
    top: 90px;
    width: 336px;
    height: 294px;
    background-image: url(../images/tablet-coctails@1x-min.png);
    @include retina {
      background-image: url(../images/tablet-coctails@2x-min.png);
    }
  }
  @include desktop {
    background-image: url(../images/desktop-coctails@1x-min.png);
    width: 500px;
    height: 440px;
    margin-bottom: 0;
    @include retina {
      background-image: url(../images/desktop-coctails@2x-min.png);
    }
  }
}

.hero__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(28 / 14);
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.8;
  @include mobile {
    margin-bottom: 20px;
    width: 324px;
  }
  @include desktop {
    font-size: 18px;
    width: 600px;
  }
}

.mobile-wrapper {
  @include tablet {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-wrapper-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 14px;
  width: 93px;
  height: 34px;
  border: 1px solid $grapefruit-color;
  border-radius: 4px;
  justify-content: space-between;
}

.mobile-wrapper-select.active {
  background-color: $grapefruit-color;
  color: $white-color;
}

.mobile-wrapper-select.active .hero__select-text {
  color: $white-color;
}

.mobile-wrapper-select.active .arrow__icon {
  fill: $white-color;
}

.list-mobile-filter{
    display: none;
}

.hero__select-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
  color: $grapefruit-color;
}

.arrow__icon {
  fill: $grapefruit-color;
}

.mobile-list-letters {
  width: 93px;
  max-height: 84px;
  border: 1px solid $grapefruit-color;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-word {
  width: 36px;
  height: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: calc(15 / 10);
  display: flex;
  align-items: center;
  color: $gray-color;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.wrapper-tablet-desktop-filter {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 312px;
  }
}

.list-letters {
  @include tablet {
    width: 312px;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-flex;
    @include desktop {
      width: 520px;
    }
  }
}

.list-letters-number {
  width: 288px;
  display: flex;
  justify-content: center;
  @include desktop {
    width: 480px;
  }
}

.word {
  width: 24px;
  height: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: $gray-color;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: calc(36 / 24);
  }
}

.word:active {
  color: $grapefruit-color;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
